body {
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
    font-size: 1.25em;
    font-weight: 500;
    background-color: #bee7e9;
}

#quote-box {
    margin-top: 100px;
    width: 500px;
    padding: 40px 50px;
    border-radius: 10px;
}

.message {
    font-size: 1em;
    text-align: left;
}

#btn-send {
    float: right;
}
